<tr>
  <td><%= bill_detail_counter %></td>
  <td><%= bill_detail.bill_detailable_type %></td>
  <td><%= bill_detail.bill_detailable_name %></td>
  <td><%= bill_detail.count %></td>
  <td><%= bill_detail.price %></td>
</tr>
