<div class="cart-body">
  <%= search_form_for [:manager, @search] do |f| %>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <%= f.label t(".address") %>
          <%= f.search_field :store_address_cont, class: "form-control form-control-line" %>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <%= f.label t(".name") %>
          <%= f.search_field :user_name_cont, class: "form-control form-control-line" %>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <div id="status">
          <%= f.label t(".status") %>
          <%= f.select :status_eq,
            options_for_select(enum_options_for_select_value(Bill, :status),
            selected: f.object.status_eq),
            {include_blank: t(".seach")}, {class: "select2 form-control"} %>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <div id="stores">
          <%= f.label t(".store") %>
            <%= f.select :store_id_eq, options_for_select(get_stores,
              selected: f.object.store_id_eq),
              {include_blank: t(".seach")}, {class: "select2 form-control"} %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <%= button_tag type: :submit, class: "btn btn-success btn-sm mb-2 pt-0" do %>
          <i class="fa fa-search"></i> <%= t ".search" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
