<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table bg-warning">
            <thead>
              <tr>
                <th><%= t ".custommer" %></th>
                <th><%= t ".receiving_address" %></th>
                <th><%= t ".store" %></th>
                <th><%= t ".created_at" %></th>
                <th><%= t ".updated_at" %></th>
              </tr>
            </thead>
            <tbody id="table_bills">
              <tr>
                <td><%= @bill.user_name %></td>
                <td><%= @bill.address %></td>
                <td><%= @bill.store_address %></td>
                <td><%= l @bill.created_at, format: :date_month_year %></td>
                <td><%= l @bill.updated_at, format: :date_month_year %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <table class="table bg-warning">
            <thead>
              <tr>
                <th><%= t ".stt" %></th>
                <th><%= t ".type" %></th>
                <th><%= t ".name" %></th>
                <th><%= t ".count" %></th>
                <th><%= t ".price" %></th>
              </tr>
            </thead>
            <tbody id="table_bills">
              <%= render partial: "bill_detail", collection: get_bill_details(@bill) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
