<tr id="<%= "product-#{product.id}" %>" class="<%= "stt-#{product_counter}" %>">
  <td><%= get_index_page product_counter %></td>
  <td><%= image_tag get_thumnail(product) %></td>
  <td><%= product.name %></td>
  <td><%= number_to_vnd product.price %></td>
  <td><%= product.status %></td>
  <td>
    <% if can? :read, product %>
      <%= link_to manager_product_path(product), class: "btn btn-info btn-sm" do %>
        <i class="fa fa-eye"></i>
      <% end %>
    <% end %>

    <% if can? :update, product %>
      <%= link_to edit_manager_product_path(product), class: "btn btn-warning btn-sm" do %>
        <i class="fa fa-edit"></i>
      <% end %>
    <% end %>

    <% if can? :destroy, product %>
      <%= link_to manager_product_path(product), method: :delete, data: {confirm: t(".sure")},
        class: "btn btn-danger btn-sm" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
