<div class="cart-body">
  <%= search_form_for [:manager, @search] do |f| %>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <%= f.label t(".name") %>
          <%= f.search_field :name_cont, class: "form-control form-control-line" %>
        </div>
      </div>

      <div class="col-3">
        <div class="form-group">
          <%= f.label t(".status") %>
          <%= f.select :status_eq,
            options_for_select(enum_options_for_select_value(Combo, :status),
            selected: f.object.status_eq),
            {include_blank: t(".seach")}, {class: "form-control select2"} %>
        </div>
      </div>

      <div class="col-2">
        <div class="form-group">
          <%= f.label t(".price_from") %> (<%= Settings.unit %>)
          <input id="price_from_product" name="price_from_product" value="<%= params[:price_from_product] %>" type="text"
            class="form-control form-control-line currencyInput validate">
          <%= f.search_field :price_gteq, class: "d-none form-control form-control-line currencyInput validate" %>
        </div>
      </div>

      <div class="col-2">
        <div class="form-group">
          <%= f.label t(".price_to") %> (<%= Settings.unit %>)
          <input id="price_to_product" name="price_to_product" value="<%= params[:price_to_product] %>" type="text"
            class="form-control form-control-line currencyInput validate">
          <%= f.search_field :price_lteq, class: "d-none form-control form-control-line" %>
        </div>
      </div>

      <div class="col-2">
        <div class="form-group">
          <div id="stores">
          <%= f.label t(".store") %>
            <%= f.select :store_id_eq, options_for_select(get_stores,
              selected: f.object.store_id_eq),
              {include_blank: t(".seach")}, {class: "select2 form-control"} %>
          </div>
        </div>
      </div>

      <div class="col-12">
        <%= button_tag class: "btn btn-success btn-sm mb-2 pt-0" do %>
          <i class="fa fa-search"></i> <%= t ".search" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag Settings.url_select2 %>
<%= javascript_include_tag Settings.url_format_product %>
