<%= form_for [:manager, @store], class: "form-group edit_store" do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="row">
    <div class="col">
      <%= f.label "name" %>
      <%= f.text_field :name, class: "form-control mb-1" %>
      <div class="my_error mb-2" id="error_address_<%= type %>"></div>
    </div>
    <div class="col">
      <%= f.label t(".address") %>
      <%= f.text_field :address, class: "form-control mb-1" %>
      <div class="my_error mb-2" id="error_address_<%= type %>"></div>
    </div>
    <div class="col">
      <%= f.label t(".phone") %>
      <%= f.text_field :phone, class: "form-control mb-1" %>
      <div class="my_error mb-2" id="error_phone_<%= type %>"></div>
    </div>
  </div>
  <% if @store.persisted? %>
    <div class="row">
      <div class="col">
        <%= label_tag t(".provinces") %>
        <%= select_tag "store[province_id]", options_for_select(get_provinces),
          id: "provinces", class: "form-control mb-1 select2" %>
      </div>

      <div class="col" id="districts">
        <%= f.label t(".districts") %>
        <%= f.select :district_id, options_for_select(get_distric_brothers(@store),
          selected: @store.district_id),
          {include_blank: false}, class: "form-control select2" %>
        <div class="my_error mb-2" id="error_district_id_<%= type %>"></div>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col">
        <%= label_tag t(".provinces") %>
        <%= select_tag "store[province_id]", options_for_select(get_provinces),
          {prompt: t(".select"), id: "provinces", class: "form-control select2"} %>
      </div>

      <div class="col" id="districts">
        <%= f.label t(".districts") %>
        <%= f.text_field :district, class: "form-control", disabled: true %>
        <div class="my_error mb-2" id="error_district_id_<%= type %>"></div>
      </div>
    </div>
  <% end %>
  <div id="tasks">
    <%= f.fields_for :images do |image| %>
      <%= render "image_fields", {f: image} %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :images,
        class: "btn btn-success btn-sm mt-3" do %>
        <i class="fa fa-plus"></i> <%= t ".add_image" %> 
      <% end %>
    </div>
  </div><hr>

  <%= button_tag class: "btn btn-primary btn-sm mt-3" do %>
    <i class="fa fa-paper-plane"></i> <%= t ".submit" %>
  <% end %>
  
  <%= button_tag type: :reset,
    class: "btn btn-warning btn-sm mr-2 mt-3" do %>
    <i class="fa fa-reply"></i> <%= t ".reset" %>
  <% end %>
<% end %>
