<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="cart-header">
          <% if can? :create, Store %>
            <button class="btn btn-success btn-sm m-2" id="add_store">
              <i class="fa fa-plus"></i> <%=  t ".add_store" %>
            </button>
          <% end %>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".stt" %></th>
                  <th><%= t ".phone" %></th>
                  <th><%= t ".address" %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="table_stores">
                <%= render partial: :store, collection: @stores %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
