<!-- SubHeader =============================================== -->
<section class="parallax-window" data-parallax="scroll" data-image-src=<%= image_path(get_banner(@store)) %> data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
	<div id="sub_content">
    	<div id="thumb"><%= image_tag get_thumnail(@store) %></div>
			<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="<%= store_detail_page_path(:store_id => @store.id) %>">Read reviews</a></small>)</div>
			<h1><%= @store.name %></h1>
			<div><i class="icon_pin"></i><%= @store.address %>  - <strong>Delivery charge:</strong> $10, free over $15.</div>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
        
			<div class="col-md-3">
            	<p><a href="<%= root_path %>" class="btn_side">Back to search</a></p>
				<div class="box_style_1">
					<ul id="cat_nav">
						<li><a href="#starters" class="active">Starters <span>(141)</span></a></li>
						<li><a href="#main_courses">Main Courses <span>(20)</span></a></li>
						<li><a href="#beef">Beef <span>(12)</span></a></li>
						<li><a href="#desserts">Desserts <span>(11)</span></a></li>
						<li><a href="#drinks">Drinks <span>(20)</span></a></li>
					</ul>
				</div><!-- End box_style_1 -->
                
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://004542344599" class="phone"><%= @store.phone %></a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
				</div>
			</div><!-- End col-md-3 -->
            
			<div class="col-md-6">
				<div class="box_style_2" id="main_menu">
					<h2 class="inner">Menu</h2>
					<h3 class="nomargin_top" id="starters">Starters</h3>
					<p>
						Te ferri iisque aliquando pro, posse nonumes efficiantur in cum. Sensibus reprimique eu pro. Fuisset mentitum deleniti sit ea.
					</p>
					<table class="table table-striped cart-list">
					<thead>
					<tr>
						<th>
							 Item
						</th>
						<th>
							 Price
						</th>
						<th>
							 Order
						</th>
					</tr>
					</thead>
					<tbody>
					<% @products.each_with_index do |product, index| %>
						<tr>
							<td>
								<figure class="thumb_menu_list"><img src=<%= get_thumnail(product) %> alt="thumb"></figure>
								<h5><%= product.name %></h5>
							</td>
							<td>
								<strong>$ <%= product.price %></strong>
							</td>
							<td class="options">
								<form action="<%= carts_path %>", accept-charset="UTF-8", data-remote="true", method="post">
									<%= hidden_field_tag :type, "#{Product.name}" %>
									<%= hidden_field_tag :product_id, "#{product.id}" %>
									<%= hidden_field_tag :quantity, "1" %>
									<div class="dropdown dropdown-options">
										<a href="#" onclick="add_product('<%= product.id %>')" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon_plus_alt2"></i></a>
										<%= button_tag "", type: :submit, id: "s_#{product.id}", style: "display: none" %>
									</div>
								</form>
							</td>
						</tr>
					<% end %>
					</tbody>
					</table>
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->
            
			<div class="col-md-3" id="sidebar">
            	<div class="theiaStickySidebar">
					<div id="cart_box" >
					<h3>Your order <i class="icon_cart_alt pull-right"></i></h3>
					<table class="table table_summary">
					<tbody>
						<% total_price = 0%>
						<% if (current_order != nil ) && current_order.any? %>
							<% current_order.each do |shop_cart| %>
								<tr>
									<td>
										<form action="<%= carts_path %>", accept-charset="UTF-8", data-remote="true", method="post">
											<%= hidden_field_tag :type, "#{Product.name}" %>
											<%= hidden_field_tag :product_id, "#{shop_cart["bill_detailable_id"]}" %>
											<%= hidden_field_tag :quantity, "-1" %>
											<a href="#t_<%= shop_cart["bill_detailable_id"] %>" onclick="remove_product('<%= shop_cart["bill_detailable_id"] %>')" class="remove_item"><i class="icon_minus_alt"></i></a> <strong><%= shop_cart["count"] %>x</strong> <%= Product.find(shop_cart["bill_detailable_id"].to_i).name %>
											<%= button_tag "", type: :submit, id: "t_#{shop_cart["bill_detailable_id"]}", style: "display: none" %>
										</form>
									</td>
									<td>
										<strong class="pull-right">$<%= Product.find(shop_cart["bill_detailable_id"].to_i).price * shop_cart["count"].to_i %></strong>
										<% total_price += Product.find(shop_cart["bill_detailable_id"].to_i).price * shop_cart["count"].to_i %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
					</table>
					<hr>
					<div class="row" id="options_2">
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
						<label><input type="radio" value="" checked name="option_2" class="icheck">Delivery</label>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
						<label><input type="radio" value="" name="option_2" class="icheck">Take Away</label>
						</div>
					</div><!-- Edn options 2 -->
								
					<hr>
					<table class="table table_summary">
					<tbody>
					<tr>
						<td>
							Subtotal <span class="pull-right">$<%= total_price %></span>
						</td>
					</tr>
					<tr>
						<td>
							Delivery fee <span class="pull-right">$0</span>
						</td>
					</tr>
					<tr>
						<td class="total">
							TOTAL <span class="pull-right">$<%= total_price %></span>
						</td>
					</tr>
					</tbody>
					</table>
					<hr>
					<a class="btn_full" href="<%= show_order_path %>">Order now</a>
					</div><!-- End cart_box -->
            	</div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<!-- COMMON SCRIPTS -->
<script src="<%= javascript_path("js/jquery-2.2.4.min.js") %>"></script>
<script src="<%= javascript_path("js/common_scripts_min.js") %>"></script>
<script src="<%= javascript_path("js/functions.js") %>"></script>
<script src="<%= javascript_path("js/validate.js") %>"></script>

<!-- SPECIFIC SCRIPTS -->
<script  src="<%= javascript_path("js/cat_nav_mobile.js") %>"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="<%= javascript_path("js/theia-sticky-sidebar.js") %>"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
<script>
$('#cat_nav a[href^="#"]').on('click', function (e) {
			e.preventDefault();
			var target = this.hash;
			var $target = $(target);
			$('html, body').stop().animate({
				'scrollTop': $target.offset().top - 70
			}, 900, 'swing', function () {
				window.location.hash = target;
			});
		});
</script>
<script>
    function remove_product(id) {
		console.log(id);
		$('#t_' + id).click();
	}
	function add_product(id) {
		console.log(id);
		$('#s_' + id).click();
	}
</script>