<aside class="left-sidebar">
  <div class="d-flex no-block nav-text-box align-items-center">
    <span>
      <%= image_tag "logo2.png", height: '40', width: '80' %>
    </span>
    <%= link_to admin_home_path, class: "waves-effect waves-dark ml-auto hidden-sm-down" do %>
      <i class="ti-menu"></i>
    <% end %>
    <%= link_to root_path, class: "waves-effect waves-dark ml-auto hidden-sm-down" do %>
      <i class="fa fa-home"></i>
    <% end %>
  </div>

  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li>
          <%= link_to admin_home_path, class: "waves-effect waves-dark", "aria-expanded": "false" do %>
            <i class="fa fa-tachometer"></i>
            <span class="hide-menu"><%= t ".dashboard" %></span>
          <% end %>
        <li>
        <li>
          <%= link_to admin_users_path, class: "waves-effect waves-dark", "aria-expanded": "false" do %>
            <i class="fa fa-user"></i>
            <span class="hide-menu"><%= t ".user" %></span>
          <% end %>
        <li>
      </ul>
    </nav>
  </div>
</aside>
