<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
    	<div id="sub_content">
    	 <h1>Place your order</h1>
            <div class="bs-wizard">
                <div class="col-xs-4 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><strong>1.</strong> Your details</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="<%= show_order_path %>" class="bs-wizard-dot"></a>
                </div>
                               
                <div class="col-xs-4 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><strong>2.</strong> Payment</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="<%= checkout_path %>" class="bs-wizard-dot"></a>
                </div>
            
              <div class="col-xs-4 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum"><strong>3.</strong> Finish!</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                </div>  
		</div><!-- End bs-wizard --> 
        </div><!-- End sub_content -->
	</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

    <div id="position">
        <div class="container">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">Category</a></li>
                <li>Page active</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="box_style_2">
				<h2 class="inner">Order confirmed!</h2>
                <% if @bill_details.empty? %>
					<h3 class="inner">You haven't order any item</h3>
					<a class="btn_full_outline" href="<%= root_path %>"><i class="icon-right"></i> Back to add other items</a>
				<% else %>
                    <div id="confirm">
                        <i class="icon_check_alt2"></i>
                        <h3>Thank you!</h3>
                        <p>
                            Lorem ipsum dolor sit amet, nostrud nominati vis ex, essent conceptam eam ad. Cu etiam comprehensam nec. Cibo delicata mei an, eum porro legere no.
                        </p>
                    </div>
                    <h4>Summary</h4>
                    <table class="table table-striped nomargin">
                    <tbody>
                    <% @bill_details.each_with_index do |bill_detail, key| %>
                        <tr>
                        <td>
                            <strong><%= bill_detail.count %>x</strong> <%= Product.find(bill_detail.bill_detailable_id.to_i).name %>
                        </td>
                        <td>
                            <strong class="pull-right">$<%= bill_detail.bill_detailable_price * bill_detail.count %></strong>
                        </td>
                        </tr>
                    <% end %>
                    <tr>
                        <%# <td>
                            Delivery schedule <a href="#" class="tooltip-1" data-placement="top" title="" data-original-title="Please consider 30 minutes of margin for the delivery!"><i class="icon_question_alt"></i></a>
                        </td>
                        <td>
                            <strong class="pull-right">Today 07.30 pm</strong>
                        </td> %>
                    </tr>
                    <tr>
                        <td class="total_confirm">
                            TOTAL
                        </td>
                        <td class="total_confirm">
                            <span class="pull-right">$<%= sum_money(@bill_details) %></span>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                <% end %>
			</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->

<!-- COMMON SCRIPTS -->
<script src=<%= javascript_path("js/jquery-2.2.4.min.js") %>></script>
<script src=<%= javascript_path("js/common_scripts_min.js") %>></script>
<script src=<%= javascript_path("js/functions.js") %>></script>
<script src=<%= javascript_path("js/validate.js") %>></script>
