<div class="single-dish col-lg-3 my-2">
  <div class="thumb">
    <%= link_to store_path(store) do %>
      <%= image_tag get_thumnail(store), class: "img-fluid", width: "396px", height: "247px" %>
    <% end %>
  </div>
  <%= link_to store_path store do %>
    <h4 class="text-uppercase mt-2"><%= store.name %></h4>
    <p><%= store.address %></p>
  <% end %>
</div>
