<!--<% content_for :banner do %>
  <%= render "layouts/banner" %>
<% end %>
-->
<!-- SubHeader =============================================== -->
<section class="header-video">
  <div id="hero_video">
      <div id="sub_content">
          <h1>Order Takeaway or Delivery Food</h1>
          <p>
              Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
          </p>
          <%= form_for :store, url: '/searchs', method: :get do |s| %>
              <div id="custom-search-input">
                  <div class="input-group">
                      <%= s.text_field :keyword, class: "search-query", placeholder: "entry store name or address..." %>
                      <span class="input-group-btn">
                      <input type="submit" class="btn_search" value="submit">
                      </span>
                  </div>
              </div>
          <% end %>
      </div><!-- End sub_content -->
  </div>
  <img src=<%= image_path("img/video_fix.png") %> alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960">
  <div id="count" class="hidden-xs">
      <ul>
          <li><span class="number">2650</span> Restaurant</li>
          <li><span class="number">5350</span> People Served</li>
          <li><span class="number">12350</span> Registered Users</li>
      </ul>
  </div>
</section><!-- End Header video -->
<!-- End SubHeader ============================================ -->
<!-- Content ================================================== -->
<div class="container margin_60">

    <div class="main_title">
        <h2 class="nomargin_top" style="padding-top:0">How it works</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box_home" id="one">
                <span>1</span>
                <h3>Search by address</h3>
                <p>
                    Find all restaurants available in your zone.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="two">
                <span>2</span>
                <h3>Choose a restaurant</h3>
                <p>
                    We have more than 1000s of menus online.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="three">
                <span>3</span>
                <h3>Pay by card or cash</h3>
                <p>
                    It's quick, easy and totally secure.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="four">
                <span>4</span>
                <h3>Delivery or takeaway</h3>
                <p>
                    You are lazy? Are you backing home?
                </p>
            </div>
        </div>
    </div><!-- End row -->
    
    <div id="delivery_time" class="hidden-xs">
        <strong><span>2</span><span>5</span></strong>
        <h4>The minutes that usually takes to deliver!</h4>
    </div>
    </div><!-- End container -->
        
<div class="white_bg">
<div class="container margin_60">
    <div class="main_title">
        <h2 class="nomargin_top">Choose from Most Popular</h2>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <% @stores.each_with_index do |store, index| %>
                <% next if (index%2) > 0 %>
                <%= link_to(store, class: "strip_list") do%>
                    <div class="ribbon_1">Popular</div>
                    <div class="desc">
                        <div class="thumb_strip">
                            <img src=<%= image_path get_thumnail(store) %> alt="">
                        </div>
                        <div class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                        </div>
                        <h3><%= store.name %></h3>
                        <div class="location">
                            <%= store.address %>. <span class="opening">Opens at <%= store.start_time %></span>
                        </div>
                        <ul>
                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
                            <li>Delivery<i class="icon_check_alt2 ok"></i></li>
                        </ul>
                    </div><!-- End desc-->
                <% end %>
            <% end %>
        </div><!-- End col-md-6-->
        <div class="col-md-6">
            <% @stores.each_with_index do |store, index| %>
                <% next if (index%2) < 1 %>
                <%= link_to(store, class: "strip_list") do%>
                    <div class="ribbon_1">Popular</div>
                    <div class="desc">
                        <div class="thumb_strip">
                            <img src=<%= image_path get_thumnail(store) %> alt="">
                        </div>
                        <div class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                        </div>
                        <h3><%= store.name %></h3>
                        <div class="location">
                            <%= store.address %>. <span class="opening">Opens at <%= store.start_time %></span>
                        </div>
                        <ul>
                            <li>Take away<i class="icon_check_alt2 ok"></i></li>
                            <li>Delivery<i class="icon_check_alt2 ok"></i></li>
                        </ul>
                    </div><!-- End desc-->
                <% end %>
            <% end %>
        </div><!-- End col-md-6-->
    </div><!-- End row -->   
    
    </div><!-- End container -->
    </div><!-- End white_bg -->
    
    <div class="high_light">
    <div class="container">
        <h3>Choose from over 2,000 Restaurants</h3>
        <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        <a href="list_page.html">View all Restaurants</a>
    </div><!-- End container -->
    </div><!-- End hight_light -->
                
<section class="parallax-window" data-parallax="scroll" data-image-src=<%= image_path("tt1.jpeg") %> data-natural-width="1200" data-natural-height="600">
<div class="parallax-content">
    <div class="sub_content" style="color: #000 !important">
        <i class="icon_mug"></i>
        <h3 style="color: #000 !important">We also deliver to your office</h3>
    </div><!-- End sub_content -->
</div><!-- End subheader -->
</section><!-- End section -->
<!-- End Content =============================================== -->
<div class="container margin_60">
    <div class="main_title margin_mobile">
        <h2 class="nomargin_top">Work with Us</h2>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <% if user_signed_in? %>
                <a class="box_work" href="<%= submit_store_path %>">
            <% else %>
                <a href="#" class="box_work" data-toggle="modal" data-target="#login_2">
            <% end %>
            <img src=<%= image_path("tt2.jpg") %> width="848" height="480" alt="" class="img-responsive">
            <h3>Submit your Restaurant<span>Start to earn customers</span></h3>
            <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
            <div class="btn_1">Read more</div>
            </a>
        </div>
        <!-- <div class="col-md-4">
            <a class="box_work" href="submit_driver.html">
            <img src=<%= image_path("img/delivery.jpg") %> width="848" height="480" alt="" class="img-responsive">
            <h3>We are looking for a Driver<span>Start to earn money</span></h3>
            <p>Lorem ipsum dolor sit amet, ut virtute fabellas vix, no pri falli eloquentiam adversarium. Ea legere labore eam. Et eum sumo ocurreret, eos ei saepe oratio omittantur, legere eligendi partiendo pro te.</p>
            <div class="btn_1">Read more</div>
            </a>
        </div> -->
    </div><!-- End row -->
</div><!-- End container -->
    
<!-- COMMON SCRIPTS -->
<script src=<%= javascript_path("js/jquery-2.2.4.min.js") %>></script>
<script src=<%= javascript_path("js/common_scripts_min.js") %>></script>
<script src=<%= javascript_path("js/functions.js") %>></script>
<script src=<%= javascript_path("js/validate.js") %>></script>

<!-- SPECIFIC SCRIPTS -->
<script src=<%= javascript_path("js/video_header.js") %>></script>
<script>
$(document).ready(function() {
	'use strict';
   	  HeaderVideo.init({
      container: $('.header-video'),
      header: $('.header-video--media'),
      videoTrigger: $("#video-trigger"),
      autoPlayVideo: true
    });    

});
</script>
