<div class="container-login">
  <div class="justify-content-center h-100">
    <div class="login">
      <div class="card-header">
        <h2><%= t ".login" %></h2>
      </div>
      <div class="card-body">
        <%= render "devise/multiple_login" %>
        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %> 
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: t(".email"),
              class: "form-control", placeholder: t(".email") %>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: t(".current_password"),
              class: "form-control", placeholder: t(".password") %>
          </div>
          <div class="row align-items-center remember"> <%= t(".remember_me") %>
          <%= f.check_box :remember_me %> 
          </div>
          <div class="form-group">
            <%= f.submit t(".login"), class: "btn float-right login_btn" %> 
          </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
