<tr id="<%= "user-#{user.id}" %>" class="user-0">
  <td>1</td>
  <td><%= image_tag user.image if user.image? %></td>
  <td id="<%= "email-#{user.id}" %>"><%= user.email %></td>
  <td>
    <span class="label
      <%= if user.role.eql? "admin"
        "label-danger"
      elsif user.role.eql? "manager"
        "label-warning"
      else
        "label-info"
      end %> ">
      <%= enum_l user, :role %>
    </span>
  </td>
  <td>
    <button class="btn btn-info btn-sm" onclick="show_user('<%= user.id %>');"
      data-toggle="modal" data-target="#form_show">
      <i class="fa fa-eye"></i>
    </button>

    <button class="btn btn-warning btn-sm" onclick="edit_user('<%= user.id %>');"
      data-toggle="modal" data-target="#form_edit">
      <i class="fa fa-edit"></i>
    </button>
    <% unless user.admin? %>
      <%= link_to admin_user_path(user), method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
