<tr id="<%= "user-#{user.id}" %>" class="<%= "stt-#{user_counter}" %>">
  <td><%= get_index_page user_counter %></td>
  <td><%= image_tag user.image if user.image? %></td>
  <td id="<%= "email-#{user.id}" %>"><%= user.email %></td>
  <td>
    <span class="label <%= "label-#{Settings.user.role.send(user.role)}" %>">
      <%= enum_l user, :role %>
    </span>
  </td>
  <td>
    <% if can? :read, user %>
      <button class="btn btn-info btn-sm" onclick="show_user('<%= user.id %>');"
        data-toggle="modal" data-target="#form_show">
        <i class="fa fa-eye"></i>
      </button>
    <% end %>
    
    <% if can? :update, user %>
      <button class="btn btn-warning btn-sm" onclick="edit_user('<%= user.id %>', '<%= user_counter %>');"
        data-toggle="modal" data-target="#form_edit">
        <i class="fa fa-edit"></i>
      </button>
    <% end %>

    <% if can? :destroy, user %>
      <%= link_to admin_user_path(user), method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
