<div class="container-fluid">
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <% if can? :create, User %>
        <button class="btn btn-sm btn-success" id="form_new_user"
          data-toggle="modal" data-target="#form_new">
          <i class="fa fa-plus"></i>
          <%=  t ".new_user" %>
        </button>
      <% end %>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to t(".home"), admin_home_path %></li>
          <li class="breadcrumb-item active"><i class="fa fa-plus"></i> <%= t ".new_user" %></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= t ".new_user" %></h4>
          <div class="border-search">
            <%= render partial: "search", search: @search %>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t ".stt" %></th>
                  <th><%= t ".avata" %></th>
                  <th><%= t ".email" %></th>
                  <th><%= t ".role" %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="table_users">
                <%= render partial: :user, collection: @users %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= paginate @users, theme: Settings.theme.theme_config %>
</div>

<div class="modal fade" id="form_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".new_user" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="show_new_user">
      </div>
      <div class="modal-footer">
        <button type="button" class="close_user btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="form_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".edit_user" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="show_edit_user">
      </div>
      <div class="modal-footer">
        <button type="button" class="close_user btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="form_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".show_user" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="show_show_user">
      </div>
      <div class="modal-footer">
        <button type="button" class="close_user btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag Settings.url_select2 %>
