<%= form_for [:manager, @combo], class: "form-group" do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col">
      <%= f.label t(".name") %>
      <%= f.text_field :name, class: "form-control mb-1" %>
      <div class="my_error">
        <% @combo.errors[:name].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    </div>
    <div class="col">
      <%= f.label t(".price") %>
      <%= f.text_field :price, data: {autonumeric: true}, class: "form-control mb-1" %>
      <div class="my_error">
        <% @combo.errors[:price].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    </div>
    <div class="col">
      <%= f.label t(".store") %>
      <%= f.select :store_id, options_for_select(get_stores,
        selected: f.object.store_id),
        {include_blank: false}, {class: "select2 form-control"} %>
      <div class="my_error">
        <% @combo.errors[:store_id].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    </div>
    <div class="col-2">
      <%= f.label t(".status") %>
      <%= f.select :status,
        options_for_select(enum_options_for_select(Combo, :status),
        selected: f.object.status), {include_blank: false},
        {class: "form-control select2"} %>
    </div>
  </div>
  <div id="tasks">
    <%= f.fields_for :images do |image| %>
      <%= render "image_fields", {f: image} %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :images,
        class: "btn btn-success btn-sm mt-3" do %>
        <i class="fa fa-plus"></i> <%= t ".add_image" %>
      <% end %>
    </div>
  </div><hr>

  <div>
    <strong><%= t ".list_product" %></strong>
  </div>

  <div id="tasks"><hr>
    <div class="row">
      <div class="col-6">
        <%= t ".name_product" %>
      </div>
      <div class="col-4">
        <%= t ".count_product" %>
      </div>
    </div>

    <%= f.fields_for :combo_products do |combo_product| %>
      <%= render "combo_product_fields", {f: combo_product} %>
    <% end %>
    <div class="links">
      <%= link_to_add_association f, :combo_products,
        class: "btn btn-success btn-sm mt-3" do %>
        <i class="fa fa-plus"></i> <%= t ".add_product" %>
      <% end %>
      <%= button_tag type: :submit, class: "btn btn-primary btn-sm mt-3",
        data: {disable_with: false} do %>
        <i class="fa fa-paper-plane"></i> <%= t ".submit" %>
      <% end %>
      <%= button_tag type: :reset,
        class: "btn btn-warning btn-sm mr-2 mt-3" do %>
        <i class="fa fa-reply"></i> <%= t ".reset" %>
      <% end %>
    </div>
  </div>
<% end %>
