<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3><%= @combo.name %></h3>
          <p><%= number_to_vnd @combo.price %></p>
          <%= enum_l @combo, :status %><br>
        </div>
      </div>
    </div>
    <% if count_thumbnails(@combo) > Settings.zero %>
      <div class="col-3">
        <strong><%= t ".thumbnails" %></strong>
        <%= render "image_show", images: get_thumbnails(@combo), id: "image-1" %>
      </div>
    <% end %>
    <% if count_images(@combo) > Settings.zero %>
      <div class="col-3">
        <strong><%= t ".images" %></strong>
        <%= render "image_show", images: get_images(@combo), id: "image-2" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= t ".product_of_combo" %></h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><%= t ".stt" %></th>
                  <th><%= t ".name" %></th>
                  <th><%= t ".count" %></th>
                  <th><%= t ".price" %></th>
                </tr>
              </thead>
              <tbody id="table_combos">
                <%= render partial: "product", collection: @products %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @parent_comments.present? %>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= t ".comment" %></h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= t ".stt" %></th>
                    <th><%= t ".comment_by" %></th>
                    <th><%= t ".created_at" %></th>
                    <th class="w-50" ><%= t ".content_and_reply" %></th>
                    <th><%= t ".reply" %></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="table_comments">
                  <%= render partial: "comment", collection: @parent_comments %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
