<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/manager/shim" %>
  </head>

  <body class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
      <%= render "layouts/manager/header" %>
      <%= render "layouts/manager/slider" %>
      <div class="page-wrapper">
        <%= render "layouts/manager/message" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
